.message-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}
.location-map{
    box-shadow: 5px 5px 5px rgba(207,207,207,0.15);
}
.mform{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mform h1{
    color: teal;
    text-align: center;
}
.mform input, textarea{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.mform button{
    color: teal;
    border-color: teal;
    box-shadow: inset 5px 5px 5px rgba(207,207,207,0.15);
}

.mform button:hover{
    background-color: teal;
    color: white;
}