# Backend Configuration

PORT=...                            #ex:8080


NODE_ENV=...                        #ex: development


# # MongoDB Connection String
# MONGO_URL=your_mongodb_connection_string
MONGO_LOCAL_URI =                      #ex: mongodb://localhost:27017



# # JWT Secret
# JWT_SECRET=your_jwt_secret_key
JWT_SECRET =                            #yoursecretKey